<% add_breadcrumb 'Seats', seats_path %>
<% add_breadcrumb @seat.seat, seat_path(@seat) %>
<% add_breadcrumb 'Edit', edit_seat_path(@seat) %>

<div class="container">

    <h1>Editing Seat</h1>

    <%= render 'form', seat: @seat %>

</div>