<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">The Movies</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Jobs</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">© 2019</div>
    </div>

</footer>