<% add_breadcrumb 'Classifications', classifications_path %>
<% add_breadcrumb 'New Classification', new_classification_path %>
 
 <div class="container">

    <h1>New Classification</h1>

    <%= render 'form', classification: @classification %>

</div>