<% add_breadcrumb 'Showtimes', showtimes_path %>
<% add_breadcrumb 'New Showtime', new_showtime_path %>

<div class="container">

    <h1>New Showtime</h1>

    <%= render 'form', showtime: @showtime %>
    
</div>