<% add_breadcrumb 'Cinemas', cinemas_path %>
<% add_breadcrumb 'New Cinema', new_cinema_path %>

<div class="container">

    <h1>New Cinema</h1>

    <%= render 'form', cinema: @cinema %>
    
</div>